@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@500&family=Rubik&display=swap');
*{ 
   font-family: 'Playpen Sans', cursive;
   font-family: 'Rubik', sans-serif;

}
body{
   background-image:url(../img/background.jpg);
   background-repeat: no-repeat;
   background-size: cover;
 
}
.title{
   text-align: center;
   padding: 15px;
}
.PlayAgain{
   height: 30px;
   width: 70px;
   border: solid 1.5px black;
   border-radius: 4px;
}
.Again{
   display: inline-block;
}
#Play{
   height: 30px;
   width: 70px;
   color: rgb(99, 99, 99);
   border: solid 1.5px black;
   border-radius: 4px;
   box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
   transition: box-shadow .15s,transform .15s;
}

#Play:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

#Play:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

:placeholder{
   color:rgb(99, 99, 99); 
}

input{
   height: 25px;
   border: solid 1.5px #000;
   border-radius: 4px;}

h1{ 
   font-size: 40px;
padding: 10px;
}


h2{
    font-size: 30px;
padding: 10px;
}


h3{
    font-size: 20px;
padding: 10px;
}
#par{
   font-size: 15px;
}

#message{
   font-size: 14px;
   /* color: red; */
   text-shadow: #e4e4e4 1px 0 10px;
   /* background: #000; */

}

